<ul>
     <div class="card_row">
          <div class="card_column">
              <img src="{{ card.card_img }}" alt="{{ card.name }}">
          </div>
          <div class="card_column">
              <p>Card Name: {{ card.name }}</p>
              <p>Card Set: {{ card.set_name }}</p>
              <li><a href={{ card.scryfall_url }}>Scryfall Link</a></li>
              <li><a href="{% url 'card_details' card.id %}">More Details</a></li>
              <li><a href="{% url 'add_to_library_form' card.id %}">Add Card to Library</a></li>
          </div>
        </div>
        <hr>
    </ul>